     main {
        padding: 2rem;
       
    }
    
    section {
        margin-bottom: 2rem;
    }
    #backToTop {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: #555;
        color: black;
        padding: 15px;
        border-radius: 4px;
      }

    footer {
        background-color: #ffdfdf;
        color: black;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px 0; /* 添加上下間距 */

    }
   
