        main {
        padding: 2rem;
    }
    
    section {
        margin-bottom: 2rem;
    }
    
    footer {
        background-color: #f8f675;
        color: brown;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 10px 0; /* 添加上下間距 */

    }
